.bg-default {
  background-color: #262261 !important;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

.material-icons {
  vertical-align: text-bottom;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.jumbotron {
  background-color: white;
}
